html{
    height: 100%;
}

body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.6667vw;
    background-color: #011a38;
}

/* 头部 */
.header{
    height: 13.3333vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 42.1333vw;
    height: 10.6667vw;
}

.header span{
    color: #fff;
    font-size: 8.5333vw;
    font-weight: 700;
}

/* 尾部 */
.footer{
    height: 21.3333vw;
    background-color: #ccc;
    display: flex;
    align-items: center;
    background-color: #011a38;
}

.footer a{
    flex: 1;
    text-align: center;
    color: #fff;
}

.current{
    color:#00b35b;
}

.footer a img{
    border-radius: 50%;
    width: 13.3333vw;
    height: 13.3333vw;
}