/* 中间 */

.main{
    flex: 1;
    overflow: auto;
}

.main li{
    background-color: #011a38;
    margin-bottom: 1.3333vw;
    margin-bottom: 20px;
}

.main li video{
    width: 100%;
}

.main li p{
    color: #fff;
    font-size: 4.2667vw;

}









