* {
  margin: 0;
  padding: 0;
  /* 按照css3的盒子模型計算 */
  box-sizing: border-box;
}

em,
i {
  /* 让字体不倾斜 */
  font-style: normal
}

li {
  /* 去掉小圆点 */
  list-style: none
}

img {
  /* 为了防止老的浏览器兼容性 */
  border: 0;
  vertical-align: middle
}

button {
  /* 鼠标放到button按钮上鼠标显示成小手 */
  cursor: pointer
}

a {
  color: #000;
  /* 去掉a链接的下划线 */
  text-decoration: none
}
  /* :hover 伪类选择器,鼠标经过a时显示成红色 */

/* a:hover {
  color: #c81623
} */

button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 3.2vw/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #000
}

/* 定义两个类型用来隐藏盒子 */
.hide,
.none {
  display: none
}
/* 清除浮动代码 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}