/* 各个页面相同的样式：头，尾部 */
/* 版心 */
.wrapper{
    width: 1240px;
    margin: 0 auto;
}

/* 快捷导航栏 */
.shortnav{
    height: 52px;
    background-color: #333;
}

.shortnav .wrapper{
    height: 52px;
    /* background-color: pink; */
    line-height: 52px;
    text-align: right;
}

.shortnav li{
    float: right;
}

.shortnav li a{
    color: #dcdcdc;
    font-size: 14px;
    border-right: 1px solid #666666;
    padding: 0px 16px;
}

.shortnav li:first-child a{
    border-right: none;
}

.shortnav li a span{
    display: inline-block;
    width: 11px;
    height: 16px;
    /* background-color: pink; */
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
    margin-right: 8px;
}

/* 导航栏 */
.navigation{
    margin: 30px auto;
    height: 70px;
}

.navigation .logn{
    float: left;
    width: 207px;
    height: 70px;
}

.navigation .nav{
    float: left;
    height: 70px;
    margin-left: 40px;
    /* background-color: pink; */
}

.navigation .nav li{
    float: left;
    margin-right: 48px;
    line-height: 70px;
}

.navigation .nav li a{
    padding-bottom: 7px;
}

.navigation .nav li a:hover{
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}

.navigation .search{
    float: left;
    width: 172px;
    height: 30px;
    margin-top: 24px;
    margin-left: 42px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

.navigation .search input{
    padding-left: 30px;
    width: 172px;
    height: 29px;
}

.navigation .search input::placeholder{
    font-size: 14px;
    color: #ccc;
}

.navigation .search .genie{
    width: 17px;
    height: 17px;
    background-image: url(../images/sprites.png);
    background-position: -80px -70px;
    position: absolute;
    left: 2px;
    top: 5px;
    
}

.navigation .car{
    position: relative;
    float: left;
    margin-top: 28px;
    width: 23px;
    height: 23px;
    margin-left: 15px;
    background-image: url(../images/sprites.png);
    background-position: -120px -70px;
}

.navigation .car span{

    position: absolute;
    top: -7px;
    left: 14px;
    width: 20px;
    height: 15px;
    background-color: #e26237;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 8px;
    font-size: 13px;
}

/* 版权部分 */
.footer{
    height: 342px;
    background-color: #333;
}

.footer .wrapper{
    width: 1393px;
}

.footer .top{
    padding-top: 59px;
    padding-left: 135px;
    height: 175px;
    border-bottom: 1px solid #434343;
}

.footer .top li{
    position: relative;
    margin-right: 300px;
    float: left;
    width: 195px;
    height: 58px;
}

.footer .top li:last-child{
    margin-right: 0;
}

/* 伪元素添加的标签  行内 */
/* 如果行内块和行内文字无法通过vertical-align或行高对齐，就是用定位 */
.footer .top li::before{
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
    vertical-align: middle;
}

.footer .top li span{
    margin-left: 70px;
    font-size: 28px;
    color: #fff;
    line-height:58px;
}

.footer .top li:nth-child(2)::before{
    background-position: -65px 0;
}

.footer .top li:nth-child(3)::before{
    background-position: -130px 0;
}

.footer .bottom{
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.footer .bottom a{
    font-size: 14px;
    color: #999;
}

.footer .bottom p{
    margin-bottom: 20px;
}