*{
    margin: 0;
    padding: 0;
    /* 内检模式 */
    box-sizing: border-box;
}

/* 浮动 */
body>div>img{
    position: fixed;
    right: 10px;
    bottom: 0;

}

body{
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* 超链接下划线清除 */
a{
    text-decoration: none;
}

/* 列表头清除 */
li{
    list-style: none;
}

/* 浮动清除 */
.clearfix::before,.clearfix::after{
    content: '';
    display: table;
}
.clearfix::after{
    clear: both;
}

/* 头部 */
.header{
    height: 42px;
    /* background-color:aqua; */
    margin: 30px auto;
}

/* 导航 */
.nav{
    float: left;
    height: 42px;
    /* background-color: green; */
    margin-left: 70px;
}

h1{
    float: left;
}

.nav li{
    float: left;
    margin-right: 26px;  
}

.nav li a{
    display: block;
    height: 42px;
    line-height: 42px;
    /* border-bottom: 2px solid #00a4ff; */
    padding: 0 9px;
    font-size: 18px;
    color: #050505;
}

.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search{
    float: left;
    width: 412px;
    height: 42px;
    border: 1px solid #00a4ff;
    margin-left: 59px;
}

.search input{
    float: left;
    padding-left: 20px;
    width: 360px;
    height: 40px;
    border: 0;
}

.search button{
    float: left;
    background-image: url(../img/搜索.png);
    width: 50px;
    height: 40px;
    border: 0;
}

/* 控制input里的placeholder的文字 */
.search input::placeholder{
    font-size: 14px;
    color: #bfbfbf;
}

.use{
    float: right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}

.use img{
    /* 调节图片垂直对齐方式，middel：居中 */
    vertical-align: middle;
}

/* 轮播图 */
.banner{
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper{
    height: 420px;
    background-image: url(../img/banner.png);
}

.banner .left{
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.3);
    /* 行高属于控制文字的属性 ，能继承*/
    line-height: 44px;
    padding: 0 20px;
}

.banner span{
    float: right;
}

.banner a{
    font-size: 16px;
    color: #fff;
}
.banner .left a:hover{
    color: #00b4ff;
}

.banner .right{
    float: right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #fff;
}

.banner .right h2{
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.banner .right .cont{
    padding: 0px 18px;
}

.banner .right .cont dl{
    padding: 12px 0;
    border-bottom: 1px solid black;
}

.banner .right .cont dt{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #4e4e4e;
}

.banner .right .cont dd{
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #a5a5a5;
}

.banner .right dt::after{
    content: '程序语言设计';
    font-size: 13px;
}

.banner .right a{
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    margin: 4px auto 0;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}

/* 精品推荐 */
.goods{
    width: 1200px;
    height: 60px;
    background-color: #fff;
    margin: 8px auto 0;
    padding-left: 34px;
    padding-right: 26px;
    /* 阴影 */
    box-shadow: 0px 2px 3px 0px
        rgba(118,118,118,0.2);
        line-height: 60px;
}

.goods h2{
    float: left;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 400;
}

.goods ul{
    float: left;
    margin-left: 30px;
}

.goods ul li{
    float: left;
}

.goods li a{
    border-left: 1px solid #bfbfbf;
    padding: 0 34px;
    font-size: 16px;
    color: #050505;
}

.goods>a{
    float: right;
    font-size: 14px;
    color: #00a4ff;
}

/* 精品课程 */
.box{
    margin-top: 35px;
}

.box .title{
    height: 40px;
    /* background-color:pink; */
}

.box .title h2{
    float: left;
    font-size: 20px;
    font-weight: normal;
    color: #494949;
}

.box .title a{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 30px;
}

.box .cont li{
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
}

.box .cont li:nth-child(5n){
    margin-right: 0;
}

.box .cont li h3{
    margin: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box .cont li p{
    margin: 0 20px;
    font-size: 12px;
    color: #999999;
}

.box .cont li p span{
    color: #ff7c2d;
}

.footer{
    margin-top: 40px;
    padding-top: 30px;
    height: 417px;
    background-color: #fff;
}

/* 清除浮动 */
.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
}

.clearfix::after{
    clear: both;
}

.footer .left{
    float: left;
}

.footer .right{
    float: right;
}

.footer .left p{
    margin-top: 25px;
}

.footer .left a{
    border: 1px solid #00a4ff;
    background-color: #fff;
    color: #00a4ff;
    width: 120px;
    height: 40px;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-top: 25px;
}

.footer .right dl{
    float: left;
    margin-right: 90px;
}

.footer .right dt{
    font-size: 19px;
    margin-bottom: 10px;
    color: #999999;
}

.footer .right dd{
    margin-top: 5px;
}

.footer .right dd a{
    color: #bfbfbf;
}

/* 定位小图 */

.box .cont .hot{
    position: absolute;
    top: 4px;
    right: -4px;
}